
<div class="row m-0 w-100 d-flex flex-wrap align-content-stretch">
        <div class="col-md-6 mb-3">
            <div class="bg-white h-100 p-2">
                    <form>
                            <fieldset>
                              <legend>Simple Form</legend>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                              </div>
                              <div class="form-group">
                                <label for="exampleSelect1">Example select</label>
                                <select class="form-control" id="exampleSelect1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
                             
                              <div class="form-group">
                                <label for="exampleTextarea">Example textarea</label>
                                <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
                              </div>
                              <div class="form-group">
                                <p>Radio buttons</p>
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                   Option 1
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                   Option 2
                                  </label>
                                </div>
                                <div class="form-check form-check-inline disabled">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                                   Option 3
                                  </label>
                                </div>
                            </div>
                              <div class="form-group">
                                <p>Checkboxes</p>
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                   Choose option
                                  </label>
                                </div>
                                <div class="form-check form-check-inline disabled">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" disabled="">
                                    Choose option
                                  </label>
                                </div>
                            </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                          </form>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="bg-white h-100 p-2">
                    <form>
                            <fieldset>
                              <legend>Customized Form</legend>
                              <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-md-3 col-form-label">Email address</label>
                                <div class="col-md-9">
                                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
                              </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-md-3 col-form-label">Password</label>
                                <div class="col-md-9">
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                              </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleSelect3" class="col-md-3 col-form-label">Example select</label>
                                <div class="col-md-9">
                                        <select class="form-control custom-select"  id="exampleSelect3">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                              </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleTextarea2" class="col-md-3 col-form-label">Example textarea</label>
                                <div class="col-md-9">
                                <textarea class="form-control" id="exampleTextarea2" rows="2"></textarea>
                              </div>
                              </div>

                              <div class="form-group row">
                                <label for="exampleInputFile2"  class="col-md-3 col-form-label">File input</label>
                                <div class="col-md-9">
                                        <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                              </div>
                              </div>
                              </div>

                              <div class="form-group row">
                                    <label  class="col-md-3 col-form-label">Radio buttons</label>
                                    <div class="col-md-9">
                                <div class="custom-radio form-check form-check-inline">
                                        <input type="radio" id="customRadioA1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioA1">Option 1</label>
                                </div>
                                   
                                <div class="custom-radio form-check form-check-inline">
                                        <input type="radio" id="customRadioA2" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioA2">Option 2</label>
                                </div>
                                <div class="custom-radio disabled form-check form-check-inline">
                                        <input type="radio" id="customRadioA1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioA3">Option 3</label>
                                </div>

                               
                               
                              
                               
                                </div>
                            </div>
                            <div class="form-group row">
                                    <label  class="col-md-3 col-form-label">Checkboxes</label>
                                    <div class="col-md-9">
                            <div class="form-check form-check-inline custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckA1">
                                    <label class="custom-control-label" for="customCheckA1">Check this custom checkbox</label>
                                    </div>
                            <div class="form-check form-check-inline custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckA2">
                                    <label class="custom-control-label" for="customCheckA2">Check this custom checkbox</label>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="submit" class="btn btn-secondary mr-2">Cancel</button>
                                    </div>
                                  </div>
                           
                              
                            </fieldset>
                          </form>
            </div>
        </div>
    </div>

    
    