<div class="logo"><a  routerLink="dashbord1"><img src="assets/images/logo.png" alt=""></a></div>

    <ul class="relative list-unstyled slide-navbar"  id="accordionExample">
   <li class="sliderBtn"><span class="navbar-icon"></span></li>
    <li class="set"><span class="parent-drop"><i class="fa fa-tachometer mr-2"></i>Dashboard <i class="fa icof fa-angle-down"></i></span>
        <ul class="list-unstyled slide-submenu">
                <li><a routerLink="dashbord1">Crypto Currency</a></li>
                <li><a routerLink="web-analytics">Web Analytics</a></li>
                <li><a routerLink="main">Social Media</a></li>
            </ul>
    </li>
    <li class="set"><span class="parent-drop"><i class="fa fa-pie-chart mr-2"></i>Charts <i class="fa fa-angle-down icof"></i></span>
        <ul class="list-unstyled slide-submenu pt-0">
            <li><a routerLink="line-chart">Line Charts</a></li>
            <li><a routerLink="area-charts">Area Charts</a></li>
            <li><a routerLink="all-charts">All Charts</a></li>
        </ul>
        </li>
    <li class="set"><span class="parent-drop"><i class="fa fa-edit mr-2"></i>Forms <i class="fa fa-angle-down icof"></i></span>
        <ul class="list-unstyled slide-submenu">
            <li><a routerLink="forms-index/simple-form">Forms</a></li>
            <li><a routerLink="forms-index/input-groups">Form Input Groups</a></li>
            <li><a routerLink="forms-index/custom-forms">Custom Forms</a></li>
            <li><a routerLink="forms-index/form-validation">Form Validation</a></li>
        </ul>
        </li>
    <li class="set"><span class="parent-drop"><i class="fa fa-th mr-2"></i>Widgets <i class="fa fa-angle-down icof"></i></span>
        <ul class="list-unstyled slide-submenu">
            <li><a routerLink="wiget-main/carousel">Carousel</a></li>
            <li><a routerLink="wiget-main/accordian">Collapse</a></li>
            <li><a routerLink="wiget-main/modal">Modal</a></li>
            <li><a routerLink="wiget-main/tooltip">Tooltips</a></li>
        </ul>
        </li>
        <li class="set"><a class="parent-drop" href="javascriot:void(0);"><i class="fa fa-hand-pointer-o mr-2"></i>Buttons</a></li>
        <li class="set"><a class="parent-drop" routerLink="ui-elements"><i class="fa fa-laptop mr-2"></i>UI Elements</a></li>

</ul>


       
        