<div class="top-header d-flex justify-content-between align-items-center p-2">
    <div></div>
  <div class="fnt-12 fnt-weight500">
      <div class="search-bar mx-2 mx-md-3">
          <input type="text" name="search" placeholder="{{text}}" class="form-control search-input">
          <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        </div>
        <span class="search-bar mx-2 mx-md-3 notification"><i class="fa fa-envelope"></i></span>
        <span class="search-bar mx-2 mx-md-3 notification"><i class="fa fa-bell"></i></span>
        <span class="user"><img src="assets/images/user.jpg" class="ml-4 mr-3"></span>
  </div>
</div>