<div class="d-flex justify-content-between align-items-center">
    <div class="py-2">
        <h6 class="mt-0 mb-1">Google Analytics Web Performance</h6>
        <p class="mb-0">This is Photoshop's version of Lorem Ipsum. Proin gravida nibjs</p>
    </div>
</div>
<hr class="my-1">
<div class="px-1">
<div class="row no-gutters d-flex justify-content-between align-items-center">
    <div class="col-9">
            <highcharts-chart
            [Highcharts] = "highcharts" 
            [options] = "chartOptions" 
            style = "width: 100%; height: 113px; display: block;">
         </highcharts-chart>
    </div>
    <div class="col-3 text-right">
            <h5 class="real-data pr-2">
                49.75%
                <small><i class="fa fa-arrow-up text-success"></i> 28.60%</small>
                <small>VS 66.88% (Prev)</small>
            </h5>
    </div>
</div>
<hr>
<div class="row no-gutters d-flex justify-content-between align-items-center">
        <div class="col-9">
                <highcharts-chart
                [Highcharts] = "highcharts" 
                [options] = "chartOptions1" 
                style = "width: 100%; height: 113px; display: block;">
             </highcharts-chart>
        </div>
        <div class="col-3 text-right">
                <h5 class="real-data pr-2">
                    49.75%
                    <small><i class="fa fa-arrow-up text-success"></i> 28.60%</small>
                    <small>VS 66.88% (Prev)</small>
                </h5>
        </div>
    </div>
    <hr>
    <div class="row no-gutters d-flex justify-content-between align-items-center">
            <div class="col-9">
                    <highcharts-chart
                    [Highcharts] = "highcharts" 
                    [options] = "chartOptions" 
                    style = "width: 100%; height: 113px; display: block;">
                 </highcharts-chart>
            </div>
            <div class="col-3 text-right">
                    <h5 class="real-data pr-2">
                        49.75%
                        <small><i class="fa fa-arrow-up text-success"></i> 28.60%</small>
                        <small>VS 66.88% (Prev)</small>
                    </h5>
            </div>
        </div>
        <hr>
        <div class="row no-gutters d-flex justify-content-between align-items-center">
                <div class="col-9">
                        <highcharts-chart
                        [Highcharts] = "highcharts" 
                        [options] = "chartOptions1" 
                        style = "width: 100%; height: 113px; display: block;">
                     </highcharts-chart>
                </div>
                <div class="col-3 text-right">
                        <h5 class="real-data pr-2">
                            49.75%
                            <small><i class="fa fa-arrow-up text-success"></i> 28.60%</small>
                            <small>VS 66.88% (Prev)</small>
                        </h5>
                </div>
            </div>
</div>
