
    <div class="d-flex justify-content-between align-items-center">
        <div class="py-2">
          <h6 class="mt-0 mb-1">Current Orders</h6>
          <p class="mb-0">This is Photoshop's version of Lorem Ipsum. Proin gravida nibjs</p>
        </div>
        
      </div>
  
      <table class="table table-md fnt-12 mt-1 table-fixed">
        <thead>
        <tr class="bg-light">
                <th>Price</th>
                <th>Sals Amount</th>
                <th>TR. ID</th>
                <th>Date</th>
        </tr>
        </thead>
    <tbody>
        <tr *ngFor="let d of tradehistroy | custompipe:7">
            <td>{{d.price}}</td>
            <td><img src="{{d.ico}}" style="width: 16px;"> {{d.amount}}</td>
            <td>#TR{{d.trID}}</td>
            <td>{{d.date}}</td>
        </tr>
    </tbody>
    </table>
    
    
  
  