    <div class="row m-0 w-100 d-flex flex-wrap align-content-stretch">
        <div class="col-md-4 mb-3">
        <div class="bg-white h-100 p-2">
            <p class="font-weight-bolder">Input Addon</p>
              <p class="mt-3 mb-0">Form Input Prepend</p>
           <div class="input-group">
                <div class="input-group-prepend">
                        <span class="input-group-text">Left addon</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
              </div>
              <p class="mt-4 mb-0">Form Input Append</p>
           <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                        <span class="input-group-text">Right addon</span>
                </div>
              </div>
              <p class="mt-4 mb-0">Form Input Groups</p>
              <div class="input-group">
                   <div class="input-group-prepend">
                     <span class="input-group-text">Left addon</span>
                   </div>
                   <input type="text" class="form-control">
                   <div class="input-group-append">
                     <span class="input-group-text">Right addon</span>
                   </div>
                 </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
            <div class="bg-white h-100 p-2">
                <p class="font-weight-bolder">Input Addon sm-size</p>
                  <p class="mt-3 mb-0">Form Input Prepend</p>
               <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                  </div>
                  <p class="mt-4 mb-0">Form Input Append</p>
               <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                       </div>
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                    </div>
                  </div>
                  <p class="mt-4 mb-0">Form Input Groups</p>
                  <div class="input-group input-group-sm">
                       <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                       </div>
                       <input type="text" class="form-control">
                       <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                       </div>
                     </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
                <div class="bg-white h-100 p-2">
                    <p class="font-weight-bolder">Input Addon Lg-size</p>
                      <p class="mt-3 mb-0">Form Input Prepend</p>
                   <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                      </div>
                      <p class="mt-4 mb-0">Form Input Append</p>
                   <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                           </div>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                      </div>
                      <p class="mt-4 mb-0">Form Input Groups</p>
                      <div class="input-group input-group-lg">
                           <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                           </div>
                           <input type="text" class="form-control">
                           <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                           </div>
                         </div>
                </div>
            </div>




        <div class="col-md-4 mb-3">
        <div class="bg-white h-100 p-2">
            <p class="font-weight-bolder">Input Addon Color</p>
              <p class="mt-3 mb-0">Form Input Prepend</p>
           <div class="input-group">
                <div class="input-group-prepend">
                        <button class="btn btn-primary" type="button"><i class="fa fa-home"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
              </div>
              <p class="mt-4 mb-0">Form Input Append</p>
           <div class="input-group">
                <div class="input-group-prepend">
                        <button class="btn btn-warning" type="button"><i class="fa fa-home"></i></button>
                   </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                        <button class="btn btn-info" type="button"><i class="fa fa-home"></i></button>
                </div>
              </div>
              <p class="mt-4 mb-0">Form Input Groups</p>
              <div class="input-group">
                   <div class="input-group-prepend">
                        <button class="btn btn-success" type="button"><i class="fa fa-home"></i></button>
                   </div>
                   <input type="text" class="form-control">
                   <div class="input-group-append">
                        <button class="btn btn-danger" type="button"><i class="fa fa-home"></i></button>
                   </div>
                 </div>

                 <div class="form-group has-success  mt-2">
                        <label class="form-control-label mb-1" for="inputSuccess1">Valid input</label>
                        <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
                        <div class="valid-feedback">Success! You've done it.</div>
                      </div>
        </div>
    </div>


        <div class="col-md-4 mb-3">
        <div class="bg-white h-100 p-2">
            <p class="font-weight-bolder">Input Addon outline Color</p>
              <p class="mt-3 mb-0">Form Input Prepend</p>
           <div class="input-group">
                <div class="input-group-prepend">
                <button class="btn btn-outline-primary border-right-0" type="button"><i class="fa fa-home"></i></button>
                </div>
                <input type="text" class="form-control border-primary" placeholder="" aria-label="" aria-describedby="basic-addon1">
              </div>
              <p class="mt-4 mb-0">Form Input Append</p>
           <div class="input-group">
                <div class="input-group-prepend">
                        <button class="btn btn-outline-warning  border-right-0" type="button"><i class="fa fa-home"></i></button>
                   </div>
                <input type="text" class="form-control border-warning" placeholder="" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                        <button class="btn btn-outline-info  border-left-0" type="button"><i class="fa fa-home"></i></button>
                </div>
              </div>
              <p class="mt-4 mb-0">Form Input Groups</p>
              <div class="input-group">
                   <div class="input-group-prepend">
                        <button class="btn btn-outline-success  border-right-0" type="button"><i class="fa fa-home"></i></button>
                   </div>
                   <input type="text" class="form-control border-success">
                   <div class="input-group-append">
                        <button class="btn btn-outline-danger  border-left-0" type="button"><i class="fa fa-home"></i></button>
                   </div>
                 </div>
                 <div class="form-group has-danger mt-2">
                        <label class="form-control-label mb-1" for="inputDanger1">Invalid input</label>
                        <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
                        <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
                      </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
            <div class="bg-white h-100 p-2">
                <p class="font-weight-bolder">Only Input Size and Border</p>
                <input class="form-control form-control-lg mt-3" type="text" placeholder=".form-control-lg">
                <input class="form-control form-control-sm mt-3" type="text" placeholder=".form-control-sm">
                <input class="form-control border-primary mt-3" type="text" placeholder=".border-primary">
                <input class="form-control border-secondary mt-3" type="text" placeholder=".border-secondary">
                <input class="form-control border-warning mt-3" type="text" placeholder=".border-warning">
                <input class="form-control border-danger mt-3" type="text" placeholder=".border-danger">
             
               
            </div>
        </div>
    


</div>

        